<!DOCTYPE html>
<!-- Coding by CodingNepal || www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Boxicons CSS -->
    <title>Side Navigation Bar in HTML CSS JavaScript</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style_home.css"/>

</head>
<body>
<!-- navbar -->
<nav class="navbar">
    <div class="logo_item">
        <i class="bx bx-menu" id="sidebarOpen"></i>
        <img src="../static/images/Twitter-X-New-Logo-Vector-2.png" alt=""></i>Tweet Sentimy
    </div>

    <div class="navbar_content">
        <i class="bi bi-grid"></i>
        <i class='bx bx-sun' id="darkLight"></i>
        <i class="item">
            <div href="#" class="nav_link submenu_item">
                <span class="navlink">{{ user }}</span>
                <!-- <i class="bx bx-chevron-right arrow-left"></i> -->
            </div>
            <ul class="menu_items submenu">
                <a href="http://127.0.0.1:5000/" class="nav_link sublink">Cerrar Sesion</a>
            </ul>
        </i>
    </div>
</nav>

<!-- sidebar -->
<nav class="sidebar">
    <div class="menu_content">
        <ul class="menu_items">
            <div class="menu_title menu_dahsboard"></div>

            <li class="item">
                <a href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-home-alt"></i>
              </span>
                    <span class="navlink">Home</span>
                </a>
            </li>

            <li class="item">
                <a href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-history"></i>
              </span>
                    <span class="navlink">History</span>
                </a>
            </li>

        </ul>

        <ul class="menu_items">
            <div class="menu_title menu_editor"></div>
            <!-- duplicate these li tag if you want to add or remove navlink only -->
            <!-- Start -->
            <li class="item">
                <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bxs-magic-wand"></i>
              </span>
                    <span class="navlink">Profile</span>
                </a>
            </li>

            <li class="item">
                <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-loader-circle"></i>
              </span>
                    <span class="navlink">Tweet User</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-filter"></i>
              </span>
                    <span class="navlink">Transaction</span>
                </a>
            </li>

        </ul>
        <ul class="menu_items">
            <div class="menu_title menu_setting"></div>
            <li class="item">
                <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-flag"></i>
              </span>
                    <span class="navlink">User</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-medal"></i>
              </span>
                    <span class="navlink">Tweet</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cog"></i>
              </span>
                    <span class="navlink">Role</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-layer"></i>
              </span>
                    <span class="navlink">Card</span>
                </a>
            </li>
        </ul>

        <!-- Sidebar Open / Close -->

        <div class="bottom_content">
            <div class="bottom expand_sidebar">
                <span> Expand</span>
                <i class='bx bx-log-in'></i>
            </div>
            <div class="bottom collapse_sidebar">
                <span> Collapse</span>
                <i class='bx bx-log-out'></i>
            </div>
        </div>

    </div>
</nav>

<!-- Home -->
<nav class="principal">
    <div class="conteiner" style="margin-left: 20px; margin-top: 20px;">
        <form action="/home_admin" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">ID User</label>
                <input type="text" class="form-control" id="id_user_home" name="id_user_home" placeholder="15"
                       required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">ID Tweet</label>
                <input type="text" class="form-control" id="id_tweet_home" name="id_tweet_home" placeholder="123456789"
                       required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name Tweet</label>
                <input type="text" class="form-control" id="name_tweet_home" name="name_tweet_home"
                       placeholder="Ejemplo 01" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>

    <div style="margin-left: 50px; margin-top: 20px; max-width: 600px;">
        <div class="card">
            <div class="card-body">
                <p>
                    <strong>Contenido del tweet:</strong> <br/>
                    {{ tweet_cont }}
                </p>

                <p>
                    <strong>Polaridad del tweet:</strong> <br/>
                    {{ polaridad }}
                </p>

                <p>
                    <strong>Resumen de comentarios del tweet:</strong> <br/>
                    {{ resumen }}
                </p>

                <p>
                    <strong>Top 3 de comentarios positivos:</strong> <br/>
                    {{ top_pos }}
                </p>

                <p>
                    <strong>Top 3 de comentarios negativos:</strong> <br/>
                    {{ top_neg }}
                </p>

            </div>
        </div>
    </div>
    <div style="margin-left: 0px; margin-top: 20px; max-width: 300px;">
        {{ grafico_html | safe }}
    </div>

</nav>


<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script src="../static/js/script_home.js"></script>
<script src="../static/js/Principal.js"></script>

</body>
</html>